.container{
	position:fixed;
	width:100%;
	height:100%;
	padding-bottom:55px;
	box-sizing:border-box;
	background-color:#efeff4;
	overflow-y:auto;
	.title-box{
		background-color:#fff;
		padding:0 0 0 10px;
		height:48px;
		border-bottom:1px solid #d9d9d9;
		box-sizing:border-box;
		display: -webkit-flex;
		display:flex;
		align-items:center;
		justify-content:space-between;
		.m-office{
			font-size:1.5em;
			line-height:1em;
		}
		.m-icon{
			display: -webkit-flex;
			display:flex;
			.office-icon{
				display: -webkit-flex;
				display:flex;
				align-items:center;
				height:47px;			
				padding:0 10px;
				box-sizing:border-box;
				border-left:1px solid #d9d9d9;
			}
		}
		
	}
}