// width100%
@mixin center-block{
	width:100%;
}
//弹性盒子
@mixin flex-box($justify:center){
	display: -webkit-flex;
	display:flex;
	align-items:center;
	justify-content:$justify;
}
//base
@import "base/reset.scss";
@import "base/base.scss";


//components
@import "scss/home.scss";
@import "scss/login.scss";

@import "scss/clock/clock.scss";
@import "scss/logManage/workLog.scss";