// width100%
@mixin w100{
	width:100%;
}
//弹性盒子
@mixin flex-box($justify:center){
	display: -webkit-flex;
	display:flex;
	align-items:center;
	justify-content:$justify;
}
//
@mixin word-color($color:#6ea9f1){
	color: $color;	
}

//base
@import "base/reset.scss";
@import "base/base.scss";
@import "scss/plugin/form.scss";

//components
@import "scss/home.scss";
@import "scss/login.scss";

@import "scss/clock/clock.scss";

@import "scss/logManage/workLog.scss";
@import "scss/logManage/myLog.scss";
@import "scss/logManage/editLog.scss";
@import "scss/logManage/writeLog.scss";

@import "scss/myFlow/myFlow.scss";
@import "scss/myFlow/lookFlow.scss";
@import "scss/myFlow/launchFlow.scss";
@import "scss/myFlow/leaveFlow.scss";

@import "scss/examine/examine.scss";
@import "scss/examine/examining.scss";
@import "scss/examine/flowExamine.scss";

@import "scss/copyTo/copyTo.scss";