.editLog{
	.container{
		padding-bottom: 0px;
		overflow:hidden;
	}
}
.tremBar{
	margin-top:26px;
	border-top:1px solid rgb(185, 185, 185);
	border-bottom:1px solid rgb(185, 185, 185);
	box-sizing:border-box;
	padding:0px 26px 0 14px;
	background:#fff;
	font-size:22px;
	line-height:2.4em;
	.time{
		float:right;
	}
	.title{
		font-size:20px;
		height:1.2em;
		border:1px solid rgb(185, 185, 185);
		padding: 1px 0;
		width:73%;
	}
}
.editArea{
	margin-top:0px;
	border-top:none;
	overflow:hidden;
	textarea{
		float:left;
		margin-bottom:14px;
		margin-left:6px;
		margin-top:14px;
			height:12.5em;
			line-height:1em;
			width:73%;
			padding:0;
	}
}
.editBtn{
	line-height:45px;
	@include w100;
	background:rgba(255, 255, 255, 0);
	@include word-color;
	text-align:center;
}