.home{
	.message-select{
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:40px;
		background-color:#f7f7f7;
		box-sizing:border-box;
		border-bottom:1px solid #d9d9d9;
		padding:0 10px;
		@include flex-box(flex-start);
		select{
			font-size:1em;
			line-height:1em;
			height:24px;
			border:0px;
			background-color:transparent;
		}
	}

	.banner{
		width:100%;
		height:180px;
		background-color:#eee;
	}
	.go-mannage{
		width:100%;
		padding:10px 0;
		background-color:#fff;
		@include flex-box;
		.go-item{
			@include flex-box;
			width:50%;
			p{
				font-size:1em;
				line-height:1em;
			}
			.number{
				font-size:1em;
				width:30px;
				height:30px;
				line-height:30px;
				border:1px solid #d9d9d9;
				border-radius:3px;
				-moz-border-radius:3px;
				-webkit-border-radius:3px;
				text-align:center;
				margin-left:10px;
			}
		}
		i{
			display:block;
			width:1px;
			height:40px;
			background-color:#d9d9d9;
		}
	}
	.application{
		width:100%;
		padding-bottom:50px;
		background-color:#fff;
		hr{
			margin:0px;
			border:0px;
			height:1px;
			width:100%;
			background-color:#d9d9d9;
		}
		h2{
			font-size:1em;
			line-height:1em;
			padding:10px 0 10px 10px;
		}
		.application-item{
			@include flex-box;
			div{
				width:50%;
				@include flex-box;
				p{
					font-size:1em;
					line-height:1em;
					margin-right:10px;
				}
			}
			i{
				display:block;
				width:1px;
				height:50px;
				background-color:#d9d9d9;
			}
		}
	}
	.mint-cell-value{
		span{
			white-space: nowrap; 
			overflow:hidden;
			text-overflow:ellipsis;
		}
		max-width:80%;		
	}
	.out-login{	
		height:40px;
		background-color:#fff;
		box-sizing:border-box;
		border-top:1px solid #d9d9d9;
		border-bottom:1px solid #d9d9d9;
		@include flex-box;
		a{
			font-size:1em;
			line-height:1em;
			color:red;
		}
	}
}

.message-box{
	height:100%;
	box-sizing:border-box;
	padding-top:40px;
	overflow-y:auto;
	.message-item{
		width:90%;
		border-radius:5px;
		margin:5%;		
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		background-color:#fdfbe8;
		.message-detail{
			width:100%;
			box-sizing:border-box;
			padding:0 20px;
			h2{
				font-size:0.9em;
				line-height:1em;
				padding:10px 0 0 0;
				display:block;
			}
			p{
				font-size:1em;
				line-height:1em;
				padding:10px 0;
			}
			div{
				display: -webkit-flex;
				display:flex;
				align-items:center;
				padding:0 0 10px 0;
				span{
					font-size:1em;
					line-height:1em;
					padding-left:10px;
				}
				
			}
		}
		a.go-to{
			font-size:0.8em;
			line-height:1em;
			color:#26a2ff;
			text-align:center;
			display:block;
			width:100%;
			padding:5px 0;
			border-top:1px dotted #d9d9d9;
		}
	}
}